body {
	margin: 0;
}

.container {
	width: 80vw;
	height: 50vh;
	margin: 10%;
}

#playerOne {
	background-color: red;
	margin-bottom: 10%;
	margin-left: 0;
}

#playerTwo {
	background-color: blue;
}

.racePiece {
	height: 10vh;
	width: 10vh;
}